.menu-mobile a {
    color: #fff;
    font-size: 20px;
    display:none;
    padding: 7px 11px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#sidenavMenu.sidenav-mobile .menu-sidenav {
    width: 100%;
    left:0;
}

.menu-user-mobile {
    display:none;
}
@media (max-width: 1000px) {
    .plataforma-f360 .flex-item.text-left, .info-content, .menu-loja {
        flex:2
    }
}

@media (max-width: 770px) {
    #sidenavMenu .menu-sidenav {
        left: -195px;
        transition:0.2s;
    }
    .m-icons, .menu-cadastro, .menu-user, .logo-content,  .menu-loja {
        display:none !important;
    }
    .plataforma-section {
        margin-left: 0;
    }
    .menu-plataforma li {
        min-width: 91px !important;
        font-size: 0.8em;
    }
    .menu-mobile a, .menu-user-mobile{
        display: inline-block;
    }
    .logo-content svg {
        width: 94px;
    }
    .logo-content {
        position: absolute;
        display: block !important;
        left: 40%;
        top: -3px;
    }
    .flex-item.info-content {
        margin: -9px -2px;
    }
    .menu-user-mobile {
        padding: 5px 8px;
    }
    .menu-mobile a {
        font-size: 10px;
        padding: 4px 0px;
        border: 1px solid #fff;
        border-radius: 50%;
        position: relative;
        top: -2px;
    }
}

@media (max-width: 550px) {
    .logo-content {
        left: 35%;
    }
    .logo-content svg {
        width: 78px;
    }
    a.dropdown-btn {
        font-size: 0.8em !important;
        min-width: 80px;
    }
    .plataforma-f360 .text-right {
        display:none;
    }
    
}